* {
    margin: 0;
    box-sizing: border-box;
  }
  
  header {
    height: 64px;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  
 .logo {
    float: left;
    padding-left: 20px;
    color: white;
    font-size: 22px;
    line-height: 64px;
  }
  
  .header-logo a{
    color: white;
    font-size: 22px;
  }
  
  .header-menus {
    float: right;
    padding-right: 20px;
  }
  
  .header-menus li {
    float: left;
    line-height: 64px;
    font-size: 13px;
    color: white;
    padding-left: 15px;
  }
  
  .header-menus a {
    float: left;
    font-size: 13px;
    color: white;
  }
  
  .header-menus .fa {
    padding-right: 5px;
  }
  
  .header-menus input[type="submit"] {
    padding: 0 20px;
    float: left;
    line-height: 64px;
    color: white;
    margin: 0;
    font-size: 13px;
  }

  /*
  header {
    height: 64px;
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .navbar-nav {
    float: right;
    padding-right: 20px;
    position: sticky;
  }
  
  .navbar-nav li {
    float: left;
    line-height: 64px;
    font-size: 20px;
    color: #000000;
    padding-left: 15px;
    list-style: none;
  }
  
  .navbar-nav a {
    float: left;
    font-size: 20px;
    color: #000000
  }
  
  .navbar-nav .fa {
    padding-right: 5px;
  }

 
  /* Top Main CSS */
  
  .top-main logo {
    float: left;
    padding-left: 20px;
    line-height: 64px;
    position: sticky;
    padding-top: 10px;
  }
  
  .top-main logo a{
    color: #000000;
    font-size: 22px;
  }

  .top-main .background-img {
    padding: 200px 0 100px;
    position: absolute;
    align-content: center;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("Dinner-Elderly.jpg");
    height: auto;
    opacity: 0.7;
    z-index: -1;
  }
  
  .top-message {
    position: relative;
    align-content: center;
    color: #000000;
  }
  
  .top-message p {
    font-size: 24px;
    font-style: 'Helvetica', sans-serif;
    font-weight: normal;
    color: #000000;
    padding-top: 150px;
    text-align: center;
  }
  
  /*search bar CSS
  .form-inline {
    padding: 10px;
    display: box;
    margin-left:auto;
    margin-right:auto;
  }
   
   .btn {
    color: #000000;
    background-color:#A9A9A9;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
    border: none;
    margin-left: 2px;
    font-weight: bold;
   }
   
   .btn:hover {
    text-decoration: none;
    border: none;
    background-color:#D3D3D3;
    color: #000000;
    }
   
  /* Footer CSS 
  .footer-margin {
    height: 100px;
  }
  .footer a{
    color: #313638;
    text-decoration: none;
  }
  .footer-container {
    color: #313638;
    background-color: #e0dfd5;
    padding: 5px 0;
  }
  .footer {
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
    position: fixed;
    height: 150px;
    clear:both;
    padding-top:20px;
  }
   */