$font-family-sans-serif: "Garamond", sans-serif;

$primary: $white;
$success: $gray;
$secondary: $black;

$jumbotron-padding:                 2rem;
$jumbotron-color:                   null;
$jumbotron-bg:                      $gray-200;

$font-family-sans-serif:     "Garamond";
$font-family-monospace:       "Courier New";
$font-family-base:            $font-family-sans-serif;

$custom-select-indicator-padding:  1rem; // Extra padding to account for the presence of the background-image based indicator

$headings-margin-bottom:      $spacer / 1;
$headings-font-family:        "Garamond";
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              #000000;

@import "node_modules/bootstrap/scss/bootstrap";
