$font-family-sans-serif: "Helvetica", Roboto, sans-serif;

$primary: $white;
$success: $gray;
$secondary: $black;

$jumbotron-padding:                 2rem;
$jumbotron-color:                   null;
$jumbotron-bg:                      $gray-200;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Helvetica", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

$custom-select-indicator-padding:  1rem; // Extra padding to account for the presence of the background-image based indicator

$headings-margin-bottom:      $spacer / 1;
$headings-font-family:        Arial;
$headings-font-weight:        500;
$headings-line-height:        1.2;
$headings-color:              #000000;

@import "node_modules/bootstrap/scss/bootstrap";
