<div class="container">
<table class="centered">
 <thead>
   <tr>
     <th colspan="3"></th>
   </tr>
 </thead>
 <h1>Agencies</h1>
 <p>Search agencies by city</p>
<table>
 <thead>
   <tr>
     <th></th>
     <%= form_tag(agencies_path, method: :get) do %>
       <%= text_field_tag :term, params[:term] %>
       <%= submit_tag 'Search' %>
     <% end %>
   </tr>
 </thead>
   <table>
   <td>
   </td>
   </table>
</table>

</table>


<h1 class="search-title">Search Results:</h1>

<div class="centered results">
      <section class="cards">
        <% @agencies.each do |agency| %>
      <article class="card">

      <div class="card-content">
          <h2><%= link_to agency.name.capitalize, agency_path(agency) %></h2>
        </div>
      </article>
      <% end %>
    </section>
  </div>
</div>
