<header class="bg-light text-black"> 
    <div class="container text-center">
      <h1>Age in Place 123</h1>
      <p class="lead">Grow where You're Planted</p>
    </div>

    
    <%-# Start Agency search -%>
    <div class="container">
    <table class="centered">
     <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
     </thead>
    <h1>Agencies</h1>
      <p>Search agencies by city</p>
    <table>
    <thead>
      <tr>
        <th></th>
        <%= form_tag(agencies_path, method: :get) do %>
          <%= text_field_tag :term, params[:term] %>
          <%= submit_tag 'Search' %>
        <% end %>
      </tr>
    </thead>
      <table>
      <td>
      </td>
      </table>
    </table>

    </table>
  <%-# End Agency search -%>



    <div class="container text-center width: 100% height: auto">
    <h1 class="">ageinplace123</h1>
    <h3 class="text-center"><em>Live Where You're Planted</em></h3>
                    <p>Welcome to ageinplace123, your one stop to find resources to support the ability for
                    you and your loved ones to ‘live where you are planted.’ Utilize the menu to find home
                    health care agencies sorted by location, ratings and services. Thank you for stopping by.
                    We are here to help make your search easy and stress free!</p>
    <form class="form-inline my-2 justify-content-center width: auto height: auto"> <!-- Search Bar -->
    <input class="form-control mr-sm-2" type="search" placeholder="Search">
    <button class="btn btn-default text-black" type="submit">Search</button>
    </form>
    <%= image_tag("Dinner-Elderly.jpg", :width => "100%", :height => "auto", :display => "block") %>
    </div>
</header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About</h2>
          <h3 class="lead"><em>Ageinplace123 Mission:  To help babyboomers and their loved ones easily find quality resources to support the ability to age-in-place.</em></h3>
          <p>Developed in 2019, ageinplace123 is built on the foundation of making resources for aging-in-place easy to find for babyboomers and their loved ones. Aging-in-place is defined as staying in the home or community of your choice as you age. Our mobile website provides easy to search home health care services sorted by location and quality ratings. We understand that our community thrives when its citizens are well taken care of and we strive to provide access to the research needed by seniors and their families. Ageinplace123 is available anywhere via a mobile website.
            </p>
          </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Services</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>We Want Your Feedback</h2>
          <p class="lead">
            123 Main Street<br>
            New York, NY 10001<br>
            1-800-123-4567<br>

            <a href="#">info@ageinplace123.com</a>
          </p>
          
        </div>
      </div>
    </div>
  </section>
