<body>
    <%-# Start Agency search -%>
  <div class="d-flex justify-content-center container agency-container">
    <table class="centered">
     <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
     </thead>
    
      <p>Search agencies by city</p>
    <table>
    <thead>
      <tr>
        <th></th>
        <%= form_tag(agencies_path, method: :get) do %>
          <%= text_field_tag :term, params[:term] %>
          <%= submit_tag 'Search' %>
        <% end %>
      </tr>
    </thead>
      <table>
      <td>
      </td>
      </table>
    </table>

    </table>
</div>
 
  <%-# End Agency search -%>

<section id="about">
    <div class="about-container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About</h2>
          <h3><em>Ageinplace123 Mission:  To help babyboomers and their loved ones easily find quality resources to support the ability to age-in-place.</em></h3>
          <p>Developed in 2019, Ageinplace123 is built on the foundation of making resources for aging-in-place easy to find for babyboomers and their loved ones. Aging-in-place is defined as staying in the home or community of your choice as you age. Our mobile website provides easy to search home health care services sorted by location and quality ratings. We understand that our community thrives when its citizens are well taken care of and we strive to provide access to the research needed by seniors and their families. Ageinplace123 is available anywhere via a mobile website.
            </p>
          </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="services-container">
      <div class="services-row">
          <div class="services-column" style: "width:50%;">
            <div class="img-fluid">
            <%= image_tag("elderly-couple.jpg") %>
            </div>
          </div>

        <div class="services-column" style: "width:50%;">
         <div class="services-text">
          <h2>Services</h2>
          <p>We help babyboomers and loved ones easily find quality resources to age-in-place. No need to visit multiple sites - we have it all here for you! Searchable across 50 states, Ageinplace123 is your one stop to find the best home health care services.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="contact-container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>We Want Your Feedback</h2>
          <p>
            123 Main Street<br>
            New York, NY 10001<br>
            1-800-123-4567<br>

            <a href="#">info@ageinplace123.com</a>
          </p>
          
        </div>
      </div>
    </div>
  </section>
</body>


<div class="news-wrap">
<div class="news">
  <div class="news-content">
    <form>
      <label>Subscribe Now to Receive the Updates! <br></label>
      <input type="email" placeholder="Enter Your Email">
      <input type="submit" value="Subscribe">
    </form>
  </div>
</div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="script.js" async></script>
</html>
