/* Header CSS */
* {
  box-sizing: border-box;
}

header {
  height: 64px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.navbar-logo {
  float: left;
  padding-left: 20px;
  line-height: 64px;
  position: sticky;
  padding-top: 10px;
}

.navbar-logo a{
  color: #000000;
  font-size: 22px;
}

.navbar-nav {
  float: right;
  padding-right: 20px;
  position: sticky;
}

.navbar-nav li {
  float: left;
  line-height: 64px;
  font-size: 20px;
  color: #000000;
  padding-left: 15px;
  list-style: none;
}

.navbar-nav a {
  float: left;
  font-size: 20px;
  color: #000000
}

.navbar-nav .fa {
  padding-right: 5px;
}

/*Top Main CSS */
.top-main .background-img {
  padding: 200px 0 100px;
  position: absolute;
  align-content: center;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("Dinner-Elderly.jpg");
  height: 520px;
  opacity: 0.7;
  z-index: -1;
}

.top-message {
  position: relative;
  align-content: center;
  color: #000000;
}

.top-message p {
  font-size: 24px;
  font-style: 'Helvetica', sans-serif;
  font-weight: normal;
  color: #000000;
  padding-top: 260px;
  text-align: center;
}

/*search bar CSS*/
.form-inline {
  padding: 10px;
  display: box;
  margin-left:auto;
  margin-right:auto;
}
 
 .btn {
  color: #000000;
  background-color:#A9A9A9;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
  border: none;
  margin-left: 2px;
  font-weight: bold;
 }
 
 .btn:hover {
  text-decoration: none;
  border: none;
  background-color:#D3D3D3;
  color: #000000;
  }
 
/* Footer CSS */

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


