* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 12px;
    line-height: 1.8em;
    color: #000000;
  }
 
 .header-container {
    display: flex;
    font-style: "Helvetica", sans-serif;
    width: 100%;
    position: absolute;
    justify-content: flex-start;
    z-index: 1;
    background-image: url("Dinner-Elderly.jpg");
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
 } 

.header-logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    position: absolute;
  }

.header-title {
    font-size: 18px;
    font-style: "Helvetica", sans-serif;
    display: flex;
    padding-top: 200px;
    padding-left: 10px;
    justify-content: center;
    color: #FAFAFA;
    font-weight: bolder;
    text-shadow: 1px 1px #A9A9A9;
}

.search {
    font-size: 12px;
    font-style: "Helvetica", sans-serif;
    padding-top: 230px;
    position: absolute;
    justify-content: flex-start;
    padding-left: 50px;
}

button {
    padding: 5px 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    color: #000000;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#A9A9A9;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
    flex-grow: 1;
    border: none;
    font-weight: 20;
}

button:hover {
    opacity: 1;
    text-decoration: none;
    border: none;
    background-color:#D3D3D3;
    color: #000000;
  }

.dropdown-menu {
    background-color: #A9A9A9;
    overflow: hidden;
  }

  .dropdown-menu a {
      float: left;
      display: block;
      color: rgb(60, 63, 63);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }
  
  .dropdown-menu a:hover {
    background-color: #A9A9A9;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .dropdown-menu .icon {
    display: none;
  }