
  <!-- Footer -->
  <footer class="page-footer bg-dark text-white">
    <!-- Footer Links -->
      <div class="footer-container text-center">
    <!-- Grid row -->
        <div class="row">
    <!-- Grid column -->
          <div class="col-md-4 padding-left:10px">
    <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Information</h5>
            <p>123 Main Street,
            <br>
            New York, NY 10044 
            <br><br>
            <a href="#">info@ageinplace123.com</a></p>
        </div>
    <!-- Grid column -->
          <div class="col-md-4">
    <!-- Links -->
        <h5 class="font-weight-bold text-uppercase pt-4"></h5>
          <ul class="list-unstyled">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#services">Services</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          <!-- Grid column -->
          <div class="col-md-3">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase pt-4"></h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#faqs">FAQs</a>
              </li>
              <li>
                <a href="#termsofuse">Terms of Use</a>
              </li>
              <li>
                <a href="#privacypolicy">Privacy Policy</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none">
  
          
          <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <!-- Social buttons -->

      <div class="social-container">
         <ul class="list-unstyled list-inline text-center">
          <h5>Connect With Us</h5>
             <li class="list-inline-item">
                 <%= link_to image_tag("FB-logo.png", :size => "29x29") %><a href="#" class="follow"></a></li>
             <li class="list-inline-item">
                 <%= link_to image_tag("IG-logo.png", :size => "29x29") %><a href="#" class="follow"></a></li>
             <li class="list-inline-item">
                 <%= link_to image_tag("Twitter_Logo.png", :size => "29x29") %><a href="#" class="follow"></a></li>
             <li class="list-inline-item">
                 <%= link_to image_tag("Linkedin-logo.png", :size => "29x30") %><a href="#" class="follow"></a></li>
      </div>
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">Copyright © AgeInPlace123 2019
      </div>
      <!-- Copyright -->
  
  </footer>