<div id="push">
  <footer class="footer navbar-fixed-bottom">
    <div class="container">
      <nav>
    <div class="contact">
      <p>Contact Us</p>
      <p>123 Main Street,<br>
      New York, NY 10001<br>
      info@ageinplace123.com</p>
    </div>

        <ul>
        <li>
        <%= link_to("Home", "/home") %>
        </li>
        <li>
        <%= link_to("About", "/about") %>
        </li>
        <li>
        <%= link_to("Services", "/services") %>
        </li>
        </ul>
      <div class='faq'>
        <p><a href="#">FAQ</a></p>
      </div>


     <div class='social'>
        <p>Connect With Us!</p><br>
        <br>
        <img src="https://i.ibb.co/sp7MZm3/iconmonstr-instagram-1-48.png" alt="Instagram" width="25" height="25">
        <img src="https://i.ibb.co/HtqjBPh/iconmonstr-facebook-1-48.png" alt="Facebook" width="25" height="25">
        <img src="https://i.ibb.co/vxhBM52/iconmonstr-pinterest-1-48.png" alt="Pinterest" width="25" height="25">
        <img src="https://i.ibb.co/F3SZ6GX/iconmonstr-twitter-1-48.png" alt="Twitter" width="25" height="25">
    </div>
      </nav>
    </div>
  </footer>
</div>