<footer class="footer">
  <small>
    <a href="#"">Age in Place 123</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">FAQs</a></li>
    </ul>
  </nav>
</footer>