<nav class="navbar-expand-lg navbar-light bg-light">
<header>
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
</div>

<div class="collapse.navbar-collapse id=navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to("Home", "/home") %>
      </li>
      <li>
        <%= link_to("About", "/about") %>
      </li>
      <li>
        <%= link_to("Services", "/services") %>
      </li>
    </ul>
</div>

<div class="top-main">
  <div class="navbar-logo">
    <%= link_to image_tag("ageinplace123.png", :size => "100x100", :role => "logo") %>
  </div>
  <div class="background-img"></div>
      <div class="top-message">
        <p>Grow Where You're Planted</p>
            <form class="form-inline my-2 justify-content-center"> <!-- Search Bar -->
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
      </div>
</div>
</header>
</nav>